<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TVAdvisor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="TVAdvisor.Properties.Settings.DbMysql05ConnectionString"
            connectionString="server=localhost;User Id=DbMysql05;Persist Security Info=True;Ssl Mode=None;port=3305;database=DbMysql05"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <applicationSettings>
        <TVAdvisor.Properties.Settings>
            <setting name="ChannelsInWindow" serializeAs="String">
                <value>9</value>
            </setting>
        </TVAdvisor.Properties.Settings>
    </applicationSettings>
</configuration>