<configuration><configSections>
                   <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
                       <section name="GUILayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
                   </sectionGroup>
    </configSections>
    <applicationSettings>
        <GUILayer.Properties.Settings>
            <setting name="DumpFolder" serializeAs="String">
                <value>dump</value>
            </setting>
            <setting name="ProgramsDumpURL" serializeAs="String">
                <value>http://download.freebase.com/datadumps/latest/browse/tv/tv_program.tsv</value>
            </setting>
            <setting name="ActorsDumpURL" serializeAs="String">
                <value>http://download.freebase.com/datadumps/latest/browse/tv/tv_actor.tsv</value>
            </setting>
            <setting name="RegTVDumpURL" serializeAs="String">
                <value>http://download.freebase.com/datadumps/latest/browse/tv/regular_tv_appearance.tsv</value>
            </setting>
            <setting name="PersonDumpURL" serializeAs="String">
                <value>http://download.freebase.com/datadumps/latest/browse/people/person.tsv</value>
            </setting>
            <setting name="ChannelsInWindow" serializeAs="String">
                <value>9</value>
            </setting>
        </GUILayer.Properties.Settings>
    </applicationSettings>
</configuration>