<configuration>
	<configSections>
	   <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
		   <section name="GUILayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	   </sectionGroup>
	   <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="EPGGruberService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
    </configSections>
	<connectionStrings>
        <add name="DataLayer.Properties.Settings.ConString" connectionString="server=localhost;User Id=DbMysql05;password=DbMysql05;Persist Security Info=True;Ssl Mode=None;port=3305;database=DbMysql05"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <applicationSettings>
        <GUILayer.Properties.Settings>
            <setting name="DumpFolder" serializeAs="String">
                <value>dump</value>
            </setting>
            <setting name="ProgramsDumpURL" serializeAs="String">
                <value>http://download.freebase.com/datadumps/latest/browse/tv/tv_program.tsv</value>
            </setting>
            <setting name="ActorsDumpURL" serializeAs="String">
                <value>http://download.freebase.com/datadumps/latest/browse/tv/tv_actor.tsv</value>
            </setting>
            <setting name="RegTVDumpURL" serializeAs="String">
                <value>http://download.freebase.com/datadumps/latest/browse/tv/regular_tv_appearance.tsv</value>
            </setting>
            <setting name="PersonDumpURL" serializeAs="String">
                <value>http://download.freebase.com/datadumps/latest/browse/people/person.tsv</value>
            </setting>
            <setting name="ChannelsInWindow" serializeAs="String">
                <value>9</value>
            </setting>
        </GUILayer.Properties.Settings>
		<EPGGruberService.Properties.Settings>
			<setting name="SleepTime" serializeAs="String">
				<value>500</value>
			</setting>
			<setting name="XMLTVPath" serializeAs="String">
				<value>C:\Users\Maor\Documents\visual studio 2010\Projects\TVAdvisor\xmltv\xmltv.exe</value>
			</setting>
			<setting name="GrabSource" serializeAs="String">
				<value>tv_grab_uk_bleb</value>
			</setting>
			<setting name="OutputFile" serializeAs="String">
				<value>epg.xml</value>
			</setting>
			<setting name="Days" serializeAs="String">
				<value>2</value>
			</setting>
			<setting name="NewFile" serializeAs="String">
				<value>newEPG.xml</value>
			</setting>
			<setting name="GrabSourceEn" serializeAs="String">
				<value>tv_grab_uk_bleb</value>
			</setting>
			<setting name="XMLTVPath2" serializeAs="String">
				<value>C:\Users\Maor\Documents\visual studio 2010\Projects\TVAdvisor\xmltv\xmltv.exe</value>
			</setting>
			<setting name="DefaultLang" serializeAs="String">
				<value>en</value>
			</setting>
		</EPGGruberService.Properties.Settings>
    </applicationSettings>
</configuration>