<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataLayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="DataLayer.Properties.Settings.ConString" connectionString="server=localhost;User Id=DbMysql05;password=DbMysql05;Persist Security Info=True;Ssl Mode=None;port=3305;database=DbMysql05"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <userSettings>
        <DataLayer.Properties.Settings>
            <setting name="DefaultLang" serializeAs="String">
                <value>en</value>
            </setting>
        </DataLayer.Properties.Settings>
    </userSettings>
</configuration>