<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataLayer.Properties.Settings.ConString" connectionString="server=localhost;User Id=root;Persist Security Info=True;database=tvadviser;password=root"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>